@charset "utf=8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
:root{
    /*색깔 지정*/
    --primary-1: #2727AD;
    --primary-2: #7F7FDA;
    --primary-3: #BEBEF0;
    --primary-4: #E4E4FF;
    --primary-5: #F5F5FF;
    --black: #212123;
    --gray-1: #848492;
    --gray-2: #BEBECA;
    --gray-3: #E8E8EE;
    --gray-4: #F7F7FA;
    --white: #FFFFFF;
    --danger: #FF375B;
    --caution: #F2CE4D;
    --success: #48C9C9;
    --back-1: #FBFBFF;
    --primary-hover: #16169F;
    --primary-pressed: #0F0F89;
    --primary-disabled: #E8E8F3;
    --secondary-hover: #3F3F43;
    --secondary-pressed: #646469;
    --secondary-disabled: #F6F6F6;
}
html,
body {
  width: 100%;
  height: 100%;
}
button{
    outline: 0;
    border: 0;
}
button:hover{
    background-color: var(--primary-hover);
}
button:active{
    background-color: var(--primary-pressed);
}
.back{
    /* 메인 배경색 */
    background-color: var(--back-1);
    width:100%;
}
.wrap{
    /* #01. 메인페이지 */
    position: relative;
    width:100%;
    max-width: 1920px;
    /*min-width: 1440px;*/
    height: 3534px;
    /*overflow-y: scroll;*/
    border-radius: 16px;
    overflow: hidden;
}
.gnb{
    position: absolute;
    width: 284px;
    left: 0px;
    top: 0px;
    bottom: 0px;

    background-color: var(--white);
    box-shadow: 8px 0px 32px rgba(21, 37, 91, 0.04);
    border-radius: 0px 16px 16px 0px;
    z-index: 100;
}
.topBox{
    /* GNB/Top Box
        GNB의 상단 부분입니다.
    */
    position: absolute;
    height: 321px;
    left: 0px;
    right: 0px;
    top: 0px;
    
    background-color: var(--primary-1);
    border-radius: 0px 16px 16px 0px;
}
.ourLogo{
    position: absolute;
    height: 56px;
    left: 40px;
    right: 40px;
    top: 36px;
}
.logoImage{
    position: absolute;
    width: 164px;
    height: 22px;
    left: calc(50% - 164px/2);
    top: calc(50% - 22px/2);
}
.divider{
    position: absolute;
    left: 40px;
    right: 40px;
    top: 117px;
    border: 1px solid var(--primary-4);
}
.login{
    position: absolute;
    left: 40px;
    top: 165px;
    bottom: 53.85%;
    width: 204px;
    height: 48px;
    outline: 0;
    border: 0;
    background-color: var(--primary-4);
    border-radius: 8px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: var(--primary-1);
}
.join{
    position: absolute;
    left: 40px;
    top: 221px;
    bottom: 53.85%;
    width: 204px;
    height: 48px;
    border-radius: 8px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
    background-color: var(--primary-1);
}
.menuList{
    /* GNB/MenuList
        메뉴리스트 버튼을 모아둔 리스트입니다.
    */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    height: 208px;
    left: 40px;
    right: 40px;
    top: 361px;
}
.menuItem{
    position: relative;
    width: 204px;
    height: 64px;
    background-color: var(--white);
}
.menuItem+.menuItem{
    margin-top: 8px;
}
.item1{
    background-color: var(--primary-5);
    border-radius: 8px;
    left: calc(50% - 204px/2);
    top: 0%;
    bottom: 69.23%;
}
.menuIcon{
    position: absolute;
    left: 12px;
    top: 16px;    
}
.itemText{
    position: absolute;
    top: 16px;
    left: 56px;
    height: 32px;
    
    display: flex;
    align-items: center;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: var(--black);
}
.item1 .itemText{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: var(--primary-1);   
}
.card{
    /* Card 1 */
    position: absolute;
    height: 1000px;
    left: 324px;
    right: 40px;
    top: 40px;

    background-color: var(--white);
    box-shadow: 0px 8px 32px rgba(21, 37, 91, 0.04);
    border-radius: 16px;
    overflow: hidden;
}
.title1{
    position: absolute;
    width: 400px;
    height: 120px;
    left: 80px;
    top: 80px;

    /* Title/Title 1 */

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.01em;
}
.sub{
    position: absolute;
    width: 516px;
    height: 52px;
    left: 80px;
    top: 224px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */

    letter-spacing: -0.01em;

    color: var(--gray-1);
}
.cardImage{
    position: absolute;
    width: 1016px;
    height: 683px;
    right: 0px;
    bottom: 24px;
}
footer{
    position: absolute;
    height: 240px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-color: var(--gray-4);
}